---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  isActive: boolean;
}

const { href, class: className, isActive, ...props } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<a
  href={href}
  {...props}
  class:list={["navlink", isActive ? "active-class" : null]}
>
  <slot />
</a>
<style>
  .navlink {
    display: inline-block;
    text-decoration: none;
    margin-inline: 10px;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .navlink:hover {
    color: #006590;
  }
  .active-class {
    color: #006590 !important;
  }
</style>
