---
import Layout from "../../layouts/BlogPost.astro";
import supabase from "../../supabase";
import ProjectCard from "../../components/ProjectCard.astro";

interface ProjectsType {
  id: string;
  title: string;
  description: string;
  linkUrl: string;
  projectType: number;
}

interface ProjectsTypeService extends Array<ProjectsType> {}

let { data: Projects, error } = await supabase
  .from("Projects")
  .select("id, title, description, linkUrl, projectType");

const resProjects: ProjectsTypeService | null = Projects;

const HighlightsArr = resProjects?.filter((e) => e.projectType == 1);
const ApplicationsArr = resProjects?.filter((e) => e.projectType == 2);
const UniversityArr = resProjects?.filter((e) => e.projectType == 3);
const OthersArr = resProjects?.filter((e) => e.projectType == 4);
---

<Layout
  title="Projects"
  description="Check out some of my cool projects!"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <div class="my-12 mx-auto max-md:mx-0 max-md:w-full">
    <h4 class="text-2xl font-semibold text-start pb-3">Highlights</h4>
    <div class="grid grid-cols-2 gap-4 max-md:grid-cols-1">
      {
        HighlightsArr != null ? (
          HighlightsArr.map((item) => {
            return <ProjectCard item={item} />;
          })
        ) : (
          <div>Something went wrong :&#40;</div>
        )
      }
    </div>
    <h4 class="text-2xl font-semibold text-start pb-3 py-4">Applications</h4>
    <div class="grid grid-cols-2 gap-4 max-md:grid-cols-1">
      {
        ApplicationsArr != null ? (
          ApplicationsArr.map((item) => {
            return <ProjectCard item={item} />;
          })
        ) : (
          <div>Something went wrong :&#40;</div>
        )
      }
    </div>
    <h4 class="text-2xl font-semibold text-start pb-3 py-4">University</h4>
    <div class="grid grid-cols-2 gap-4 max-md:grid-cols-1">
      {
        UniversityArr != null ? (
          UniversityArr.map((item) => {
            return <ProjectCard item={item} />;
          })
        ) : (
          <div>Something went wrong :&#40;</div>
        )
      }
    </div>
    <h4 class="text-2xl font-semibold text-start pb-3 py-4">Others</h4>
    <div class="grid grid-cols-2 gap-4 max-md:grid-cols-1">
      {
        OthersArr != null ? (
          OthersArr.map((item) => {
            return <ProjectCard item={item} />;
          })
        ) : (
          <div>Something went wrong :&#40;</div>
        )
      }
    </div>
  </div>
</Layout>
